/* Normal desktop :1500px. */
@media (min-width: 1600px) and (max-width: 1800px) {
.header-area {
    padding: 30px 25px 38px;
}




}


/* Normal desktop :1500px. */
@media (min-width: 1500px) and (max-width: 1600px) {
.header-area {
    padding: 30px 25px 38px;
}
.row.upper12 {
    padding-left: 12px;
}
.service-area .single-service-box .service-content .single-title-2 h5 {
    padding-bottom: 0;
}
.service-area .single-service-box .service-content {
    padding: 0 16px 0;
}
.service-area .single-service-box .service-content .service-doler p {
    font-size: 15px;
    line-height: 1.5;
}




}

/* Normal desktop :1170px. */
@media (min-width: 1170px) and (max-width: 1499px) {
.main-menu .row.come .right-title ul li {
    font-size: 12px;
}
.choose-area .choose-title p {
    font-size: 13px;
}
.service-area .section-title .sub-title p {
    font-size: 15px;
}
.service-area .main-title h1 {
    font-size: 100px;
}
.service-area .single-service-box .service-content .single-title-2 h3 {
    font-size: 23px;
}
.service-area .single-service-box .service-content .service-doler p {
    font-size: 16px;
    line-height: 1.5;
}
.experience-area .experience-titles h2 {
    font-size: 50px;
}
.experience-area .experience-title h1 {
    font-size: 215px;
}
.experience-area .experience-titles h3 {
    font-size: 18px;
}
.tab-area .section-title .sub-title p {
    font-size: 15px;
}
.tab-area ul.tabs li {
    font-size: 12px;
}
.tab-area .tab-content-text p {
    font-size: 12px;
}
.sub-title-2 h2 {
    font-size: 40px;
}
.counter-title h3 {
    font-size: 12px;
}
.testi-setion-area p {
    font-size: 14px;
}
.blog-area .blog-title h3 a {
    font-size: 14px;
}
.blog-area .blog-single-box .blog-content .blog-title p {
    font-size: 12px;
}
.blog-area.upper .sideber-box .sideber-content .sideber-title h3 {
    font-size: 20px;
}
.blog-area .section-title .sub-title p {
    font-size: 15px;
}


.header-button {
    display: none;
}
.header-area {
    padding: 30px 29px 45px;
}
.main-menu .row.come .menu-icon ul {
    padding-left: 15px;
}
.main-menu:before {
    top: 1px;
}
.custom-container {
    width: 1284px;
}
.rs-video {
    left: 75%;
}
.custom-container {
    width: 1132px;
}


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.main-menu .row.come .right-title ul li {
    font-size: 14px;
    margin-right: 0;
}
.choose-area .choose-title p {
    font-size: 12px;
}
.service-area .main-title h1 {
    font-size: 100px;
}
.service-area .section-title .sub-title p {
    font-size: 15px;
}
.service-area .single-service-box .service-content .single-title-2 h3 {
    font-size: 20px;
}
.service-area .single-service-box .service-content .service-doler p {
    font-size: 12px;
    line-height: 1.5;
}
.service-area .single-service-box .service-content {
    padding: 57px 30px 49px;
}
.experience-area .experience-titles h2 {
    font-size: 60px;
}
.experience-area .experience-titles h3 {
    font-size: 20px;
}
.tab-area .section-title .sub-title p {
    font-size: 15px;
}
.tab-area ul.tabs li {
    padding: 18px 50px;
    font-size: 15px;
}
.tab-area .tab-content-text p {
    font-size: 12px;
}
.testi-setion-area .sub-title h2 {
    font-size: 40px;
}
.sub-title-2 h2 {
    font-size: 30px;
}
.counter-title h3 {
    font-size: 11px;
}
.counter-title h2 {
    font-size: 50px;
}
.testi-setion-area p {
    font-size: 14px;
}
.blog-area .blog-title h3 a {
    font-size: 13px;
}
.blog-area .blog-single-box .blog-content .blog-title p {
    font-size: 12px;
}
.blog-area .blog-single-box .blog-button:before {
    width: 50%;
}
.footer-area .single-footer-box .footer-content .footer-title p {
    font-size: 11px;
}
.footer-area .single-footer-box-2 h3 {
    font-size: 20px;
}
.hero-section .hero-content .hero-title h1 {
    font-size: 60px;
}
.blog-area.upper .sideber-box .sideber-content .sideber-title h3 {
    font-size: 21px;
}
.blog-area.upper .blog-single-box2 .blog-content .blog-title p {
    font-size: 13px;
}
.blog-area.upper .sideber-box .resent-post-single-box .resent-thunb {
    margin: 0 9px 15px -19px;
}
.blog-area.upper .sideber-box .resent-post-single-box .resent-content .resent-title h3 a {
    font-size: 12px;
}
.header-area .nav-menu .header-menu ul li a {
    font-size: 12px;
    padding: 0 12px;
}
.hero-section .hero-content .hero-text p {
    font-size: 16px;
}
.experience-area .experience-title h1 {
    font-size: 215px;
}
.blog-area .section-title .sub-title p {
    font-size: 14px;
}
.main-menu .row.come .menu-title h3 {
    font-size: 15px;
}
.header-button {
    display: none;
}
.rs-video {
    left: 89%;
}
.custom-container {
    width: 949px;
}
.row.upper12 {
    padding-left: 31px;
}


}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu {
    display: none;
}
.header-logo{
    display: none !important;
}
.logo-txt::before {
  display: block !important;
}
.menu-toggle {
  display: block !important;
}
.header-area {
    background: #E6A433 !important;
    padding: 30px;
}
.menu-wrapper {
    position: absolute;
    top: 60px;
    background: #fff !important;
    left: -100%;
    padding-bottom: 20px;
    height: auto;
    width: 300px;
    transition: .5s;
}
.header-area.sticky-nav{
 position:relative !important; 
 }
.active-nav {
    left: 0 !important;
}
.menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.header-button {
    display: none !important;
}
.header-menu ul li a {
    color: #232323 !important;
    border-bottom: 1px solid #d6d6d6;
    display: block !important;
    margin: 0 !important;
    padding: 18px 0 18px 25px;
}
.header-menu ul li a:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.header-menu ul {
    text-align: left;
    display: block !important;
}
.header-menu ul li {
    display: block !important;
    padding-bottom: 0 !important;
    padding: 8px 18px 0;
}
.mobile-menu-icon {
    color: #6d6d6d;
    right: 0;
    float: right;
    margin-right: 30px;
    display: block !important;
    transition: .3s;
}
.header-menu ul li:hover .mobile-menu-icon {
    color: #ff3c00;
}
.header-menu .sub-menu {
    position: absolute;
    width: 250px !important;
    left: 302px !important;
    padding-bottom: 30px;
}
.header-menu ul li:hover .sub-menu {
    top: 50px !important;
    left: 302px !important;
}
.header-menu .sub-menu ul{
    width:250px;
}
.header-area.style-three {
    margin-bottom:0px!important;
    padding: 30px 0!important;
    background: #ff3c00 !important;
}
.header-area.style-four span {
    color: #fff!important;
}
.header-area .sub-menu ul li {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0 !important;
    transition: .5s;
    width: 87%;
}
.header-area .sub-menu ul li:last-Child{
     border-bottom: none;
}
.header-area .nav-menu .header-menu ul li a {
    padding: 0 16px 10px;
}








.hero-section .hero-content .hero-title h1 {
    font-size: 40px;
}
.hero-section .hero-content .hero-text p {
    font-size: 13px;
}
.choose-area .choose-title p {
    font-size: 13px;
}
.choose-area .choose-title h2 {
    font-size: 40px;
}
.choose-area .choose-menu-box ul li {
    font-size: 11px;
}
.choose-area .choose-button a {
    font-size: 10px;
}
.service-area .main-title h1 {
    font-size: 70px;
}
.service-area .section-title .sub-title h2 {
    font-size: 40px;
}
.service-area .section-title .sub-title p {
    font-size: 13px;
}
.service-area .single-service-box .service-content .single-title-2 h3 {
    font-size: 20px;
}
.experience-area .experience-title h1 {
    font-size: 160px;
}
.experience-area .experience-titles h2 {
    font-size: 40px;
}
.experience-area .experience-titles h3 {
    font-size: 13px;
}
.tab-area .main-title h1 {
    font-size: 100px;
}
.tab-area .section-title .sub-title p {
    font-size: 15px;
}
.tab-area ul.tabs li {
    padding: 18px 20px;
    font-size: 17px;
}
.tab-area .tab-content-text p {
    font-size: 13px;
}
.testi-setion-area .sub-title h2 {
    font-size: 30px;
}
.testi-setion-area p {
    font-size: 12px;
}
.counter-title h2 {
    font-size: 25px;
}
.counter-title h3 {
    font-size: 7px;
    letter-spacing: 0px;
}
.blog-area .blog-title h3 a {
    font-size: 15px;
}
.blog-area .blog-single-box .blog-content .blog-title p {
    font-size: 13px;
}
.testimonial-area .testimonial-content .testimonial-title p {
    font-size: 12px;
}
.footer-area .single-footer-box .footer-content .footer-title p {
    font-size: 12px;
}
.footer-area .single-footer-box .footer-content .footer-title ul li a {
    font-size: 13px;
    margin-right: 2px;
}
.sub-title-2 h2 {
    font-size: 25px;
}
.blog-area.upper .sideber-box .sideber-content .sideber-title h3 {
    font-size: 13px;
}
.blog-area.upper .blog-single-box2 .blog-content .blog-title p {
    font-size: 13px;
}
.blog-area.upper .sideber-box .resent-post-single-box .resent-thunb {
    margin: 0 8px 15px -25px;
}
.blog-area.upper .sideber-box .resent-post-single-box .resent-content .resent-title h3 a {
    font-size: 7px;
    letter-spacing: 0;
}
.resent-title span {
    font-size: 10px;
}
.blog-area .main-title h1 {
    font-size: 115px;
}
.blog-area .section-title .sub-title p {
    font-size: 15px;
}
.service-area .single-service-box .service-content .service-doler p {
    font-size: 16px;
}
.custom-container {
    width: 650px;
}
.row.upper12 {
    padding-left: 8px;
}
.rs-video {
    left: 82%;
}
.custom-container .sub-title-2 h2 span {
    color: #fff;
}
.custom-container .sub-title-2 h4 {
    color: #fff;
}
}
/* small mobile :600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {
.main-menu {
    display: none;
}
.header-logo{
    display: none !important;
}
.logo-txt::before {
  display: block !important;
}
.menu-toggle {
  display: block !important;
}
.header-area {
    background: #E6A433 !important;
    padding: 30px;
}
.menu-wrapper {
    position: absolute;
    top: 60px;
    background: #fff !important;
    left: -100%;
    padding-bottom: 20px;
    height: auto;
    width: 300px;
    transition: .5s;
}
.header-area.sticky-nav{
 position:relative !important; 
 }
.active-nav {
    left: 0 !important;
}
.menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.header-button {
    display: none !important;
}
.header-menu ul li a {
    color: #232323 !important;
    border-bottom: 1px solid #d6d6d6;
    display: block !important;
    margin: 0 !important;
    padding: 18px 0 18px 25px;
}
.header-menu ul li a:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.header-menu ul {
    text-align: left;
    display: block !important;
}
.header-menu ul li {
    display: block !important;
    padding-bottom: 0 !important;
    padding: 8px 18px 0;
}
.mobile-menu-icon {
    color: #6d6d6d;
    right: 0;
    float: right;
    margin-right: 30px;
    display: block !important;
    transition: .3s;
}
.header-menu ul li:hover .mobile-menu-icon {
    color: #ff3c00;
}
.header-menu .sub-menu {
    position: absolute;
    width: 250px !important;
    left: 302px !important;
    padding-bottom: 22px;
}
.header-menu ul li:hover .sub-menu {
    top: 50px !important;
    left: 302px !important;
}
.header-menu .sub-menu ul{
    width:250px;
}
.header-area.style-three {
    margin-bottom:0px!important;
    padding: 30px 0!important;
    background: #ff3c00 !important;
}
.header-area.style-four span {
    color: #fff!important;
}
.header-area .sub-menu ul li {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0 !important;
    transition: .5s;
    width: 87%;
}
.header-area .sub-menu ul li:last-Child{
     border-bottom: none;
}

.header-area .nav-menu .header-menu ul li a {
    padding: 0 16px 10px;
}
.row.upper12 {
    padding-left: 4px;
    padding-right: 15px;
}

.hero-section .hero-content .hero-title h1 {
    font-size: 27px;
}
.hero-section .hero-content .hero-text p {
    font-size: 15px;
}
.choose-area .choose-title p {
    font-size: 13px;
}
.service-area .main-title h1 {
    font-size: 58px;
}
.service-area .section-title .sub-title h2 {
    font-size: 40px;
}
.service-area .section-title .sub-title p {
    font-size: 11px;
}
.experience-area .experience-title h1 {
    font-size: 150px;
}
.experience-area .experience-titles h2 {
    font-size: 40px;
}
.experience-area .experience-titles h3 {
    font-size: 13px;
}
.tab-area .main-title h1 {
    font-size: 80px;
}
.tab-area .section-title .sub-title h2 {
    font-size: 45px;
}
.tab-area .section-title .sub-title p {
    font-size: 11px;
}
.tab-area ul.tabs li {
    padding: 18px 5px;
    font-size: 14px;
}
.tab-area .tab-content-text p {
    font-size: 10px;
}
.testimonial-area .testimonial-content .testimonial-title p {
    font-size: 9px;
}
.blog-area .main-title h1 {
    font-size: 90px;
    letter-spacing: 1px;
}
.blog-area .section-title .sub-title p {
    font-size: 11px;
}
.sub-menu {
    padding: 16px 12px;
}
.custom-container {
    max-width: 500px;
}



}
/* small mobile :320px. */
@media only screen and (min-width: 320px) and (max-width: 599px) {
.main-menu {
    display: none;
}
.header-logo{
    display: none !important;
}
.logo-txt::before {
  display: block !important;
}
.menu-toggle {
  display: block !important;
}
.header-area {
    background: #E6A433 !important;
    padding: 30px;
}
.menu-wrapper {
    position: absolute;
    top: 60px;
    background: #fff !important;
    left: -100%;
    padding-bottom: 20px;
    height: auto;
    width: 171px;
    transition: .5s;
}
.header-area.sticky-nav{
 position:relative !important; 
 }
.active-nav {
    left: 0 !important;
}
.menu-toggle {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.header-button {
    display: none !important;
}
.header-menu ul li a {
    color: #232323 !important;
    border-bottom: 1px solid #d6d6d6;
    display: block !important;
    margin: 0 !important;
    padding: 18px 0 18px 25px;
}
.header-menu ul li a:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.header-menu ul {
    text-align: left;
    display: block !important;
}
.header-menu ul li {
    display: block !important;
    padding-bottom: 0 !important;
    padding: 8px 18px 0;
}
.mobile-menu-icon {
    color: #6d6d6d;
    right: 0;
    float: right;
    margin-right: 30px;
    display: block !important;
    transition: .3s;
}
.header-menu ul li:hover .mobile-menu-icon {
    color: #ff3c00;
}
.header-menu .sub-menu {
    position: absolute;
    width: 159px !important;
    left: 170px !important;
    padding-bottom: 21px;
}
.header-menu ul li:hover .sub-menu {
    top: 50px !important;
    left: 170px !important;
}

.header-menu .sub-menu ul li{
    padding: 8px 6px 0 !important;
}

.header-menu .sub-menu ul{
    width:170px;
}
.header-area.style-three {
    margin-bottom:0px!important;
    padding: 30px 0!important;
    background: #ff3c00 !important;
}
.header-area.style-four span {
    color: #fff!important;
}
.header-area .sub-menu ul li {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 0 !important;
    transition: .5s;
    width: 80%;
}
.header-area .sub-menu ul li:last-Child{
     border-bottom: none;
}
.header-area .nav-menu .header-menu ul li a {
    padding: 0 16px 10px;
}
.sub-menu {
    padding: 16px 12px 22px;
}


.custom-container {
    max-width: 300px;
}
.testi-conent-inner {
    padding-top: 0;
    width: 50%;
}


.hero-section .hero-content .hero-title h1 {
    font-size: 18px;
    letter-spacing: 1px;
}
.hero-section .hero-content .hero-text p {
    font-size: 12px;
    letter-spacing: 1px;
}
.choose-area .choose-title h2 {
    font-size: 30px;
}
.choose-area .choose-title p {
    font-size: 11px;
}
.service-area .section-title .sub-title h2 {
    font-size: 25px;
}
.service-area .main-title h1 {
    font-size: 38px;
    letter-spacing: 0;
}
.service-area .section-title .sub-title p {
    font-size: 10px;
    letter-spacing: 0;
    padding: 0;
}
.service-area .single-service-box .service-content .single-title-2 h3 {
    font-size: 15px;
}
.service-area .single-service-box .service-content .service-doler p {
    font-size: 10px;
    line-height: 1.5;
}
.service-area .single-service-box .service-content .service-doler h3 {
    font-size: 15px;
}
.experience-area .experience-title h1 {
    font-size: 150px;
}
.experience-area .experience-titles h2 {
    font-size: 18px;
}
.experience-area .experience-titles h3 {
    font-size: 8px;
    letter-spacing: 0;
}
.tab-area .main-title h1 {
    font-size: 46px;
}
.tab-area .section-title .sub-title h2 {
    font-size: 25px;
}
.tab-area .section-title .sub-title p {
    font-size: 13px;
    padding: 0;
}
.tab-area ul.tabs li {
    padding: 0px 10px;
    font-size: 12px;
}
.tab-area ul.accordion li span {
    font-size: 15px;
}
.tab-area .tab-content-text p {
    font-size: 12px;
    letter-spacing: 0;
}
.testi-setion-area .sub-title h2 {
    font-size: 30px;
}
.testi-setion-area p {
    font-size: 11px;
}
.sub-title-2 h2 {
    font-size: 20px;
}
.counter-title h2 {
    font-size: 30px;
}
.blog-area .blog-title h3 a {
    font-size: 13px;
}
.blog-area .blog-single-box .blog-content .blog-title p {
    font-size: 12px;
}
.testimonial-area .testimonial-content .testimonial-title:before {
    top: 145px;
}
.testimonial-area .testimonial-content .testimonial-title p {
    font-size: 10px;
}
.footer-area .single-footer-box .footer-content .footer-title p {
    font-size: 10px;
    line-height: 1.5;
}
.footer-area .single-footer-box .footer-content .footer-title h3 {
    font-size: 10px;
}
.footer-area .single-footer-box .footer-content .footer-title ul li a {
    font-size: 10px;
    margin-right: 1px;
}
.footer-area .row.upper h3 {
    font-size: 10px;
}
.footer-area .subscribe-area h3 {
    font-size: 20px;
}
.footer-area .subscribe-area .subscribe-form {
    width: 100%;
}
.blog-area .main-title h1 {
    font-size: 47px;
}
.blog-area .section-title .sub-title h2 {
    font-size: 25px;
}
.blog-area .section-title .sub-title p {
    font-size: 11px;
    padding: 0;
}
.contact-area .form_box input {
    width: 100%;
    padding-left: 0;
}
.contact-area .sideber-title h3 {
    font-size: 20px;
}
.breadcumb-area .breacumb-content .breadcumb-title h1 {
    font-size: 35px;
}
.blog-area.upper .blog-single-box2 .blog-content .blog-title p {
    font-size: 12px;
}
.blog-area.upper .sideber-box .sideber-content .sideber-title h3 {
    font-size: 20px;
}
.blog-area.upper .sideber-box .resent-post-single-box .resent-content .resent-title h3 a {
    font-size: 10px;
}
.header-area .sub-menu ul li a {
    padding: 4px 4px !important;
}
.row.upper12 {
    padding-left: 4px;
    padding-right: 15px;
}
.blog-details-title a h2 {
    font-size: 21px!important;
}
.blog-area.upper .blog-single-box2 .blog-content {
    padding: 28px 10px 20px!important;
}



}


